<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.concussionconnect">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.RegisterActivity" />
        <activity android:name=".Controller.MemoryTestActivity" />
        <activity android:name=".Controller.SymptomsActivity" />
        <activity android:name=".Controller.EndActivity" />
        <activity android:name=".Controller.MainActivity" />
        <activity android:name=".Controller.SettingsActivity" />
        <activity android:name=".Controller.TestSetupActivity" />
        <activity android:name=".Controller.MonthsActivity" />
        <activity android:name=".Controller.LongMemoryActivity" />
        <activity android:name=".Controller.WordLearnActivity"></activity>
    </application>

</manifest>